@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-DarkerGrotesque: "DarkerGrotesque", sans-serif;
  --font-DMSans: "DMSans", sans-serif;
  --font-Manrope: "Manrope", sans-serif;
}

@font-face {
  font-family: "DarkerGrotesque";
  src: url("../public/fonts/Darker_Grotesque/static/DarkerGrotesque-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("../public/fonts/Darker_Grotesque/static/DarkerGrotesque-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("../public/fonts/Darker_Grotesque/static/DarkerGrotesque-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("../public/fonts/Darker_Grotesque/static/DarkerGrotesque-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("../public/fonts/Darker_Grotesque/static/DarkerGrotesque-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DM_Sans/static/DMSans_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DM_Sans/static/DMSans_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DM_Sans/static/DMSans_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DM_Sans/static/DMSans_18pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope/static/Manrope-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope/static/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope/static/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply bg-white dark:bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.btn-link {
  background: linear-gradient(180deg, #ff7c3f 0%, #e24700 100%);
  border: 2px solid #ff7c3f;
  font-weight: 500;
  color: white;
  padding: 14px 16px;
  border-radius: 12px;
  font-size: 16px;
}
.btn-link:hover {
  background: linear-gradient(97.67deg, #e24700 7.86%, #9c0068 163.54%);
}

.reachOutBtn {
  background: linear-gradient(180deg, #ff7c3f 0%, #e24700 100%);
}
.heroBg {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background: url("../public/heroPNG.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
}

.checkerBg {
  background: url("../public/checker.webp");
  background-color: #fff;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.checkerBgdown {
  background: url("../public/checker.webp");
  background-color: #fff;
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.orangeBG {
  background: linear-gradient(180deg, #ff7c3f 0%, #e24700 100%);
}
.blackBG {
  background: linear-gradient(180deg, #404040 0%, #1e1e1e 100%);
}
.foodAidBg {
  background: url("../public/foodAid.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.foodAidBg2 {
  background: url("../public/time.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foodAidBg3 {
  background: url("../public/partners.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.whiteBtn {
  background: linear-gradient(180deg, #e6e6e6 0%, #ffffff 100%);
}
.hideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* about */
.beHeardBg {
  background: url("../public/beHeard.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .beHeardBg2 {
  background: url("../public/about2.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.valueCardWhite {
  background: linear-gradient(180deg, #e6e6e6 0%, #ffffff 100%);
}
.valueCardOrange {
  background: linear-gradient(180deg, #ff7c3f 0%, #e24700 100%);
}

.initiativeBg {
  background: url("../public/initiativeBg.webp"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .beHeardBg {
    background: url("../public/about2.webp"),
      linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
      linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .initiativeBg {
    background: url("../public/initiativeMobile.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .checkerBg {
    background: url("");
    background-color: #fff;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .checkerBg2 {
    background: url("../public/checker4.png");
    background-color: #fff;
    background-size: auto;
    background-position: right;
    background-repeat: repeat;
  }
}
